html, body {
    /*font-family: 'Open Sans', sans-serif;*/
    margin: 0;
    padding: 0;
    width: 400px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.header > span {
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    color: #2E516D;
    padding: .125rem;
    margin: .125rem;
}

main {
    background-color: #40b7ea;
    width: 100%;
    padding: .25rem;
    color: white;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: center;
}

.grey-d4s2pdf {
    color: rgba(255, 255, 255, .8);
}

.btn {
    background-color: #ff6600 !important;
    font-weight: bold;
    font-style: italic;
    color: rgba(255, 255, 255, .9);
}

.notice {
    font-weight: bold;
    letter-spacing: .02rem;
}

.progress {
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.determinate {
    background-color: rgba(255, 66, 0, .7) !important;
}

a {
    color: white;
    border-bottom: 1px dotted white;
}